/* Variables */
:root {
  --black: #1c1c1c;
  --white: #ffffff;

  --black-hsl: 0, 0%, 11%;
  --white-hsl: 0, 0%, 100%;

  --pageBG: #ffffff;
  --pageText: #1c1c1c;

  --pageBG-hsl: 0, 0%, 100%;
  --pageText-hsl: 0, 0%, 11%;
}

[data-theme='dark'] {
  --pageBG: #1c1c1c;
  --pageText: #ffffff;

  --pageBG-hsl: 0, 0%, 11%;
  --pageText-hsl: 0, 0%, 100%;
}

[data-theme='metal'] {
  --pageBG: #1c1c1c;
  --pageText: #edff00;

  --pageBG-hsl: 0, 0%, 11%;
  --pageText-hsl: 64, 100%, 50%;
}

@custom-media --xs (min-width: 480px);
@custom-media --sm (min-width: 768px);
@custom-media --md (min-width: 940px);
@custom-media --lg (min-width: 1200px);
@custom-media --xl (min-width: 1600px);

@custom-media --xsMax (max-width: 479px);
@custom-media --smMax (max-width: 767px);
@custom-media --mdMax (max-width: 939px);
@custom-media --lgMax (max-width: 1199px);
@custom-media --xlMax (max-width: 1599px);
