@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --brand-primary: #000;
  --brand-primary--inverted: #fff;
  --brand-secondary: #000;
  --brand-secondary--inverted: #fff;
  --brand-primary--red: #ff0000;
  --brand-primary--yellow: #ffee00;
  --brand-primary--blue: #0400ff;

  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);

  --theme-pageBG: #f4f4f0;
  --theme-pageText: #000000;
}


/* correctly style active state on dark navbars */

[data-tone="navbar"][class*="selected"] > span {
  background: var(--brand-secondary--inverted) !important;
  color: var(--brand-secondary) !important;
}


/* more obvious cursors for studio elements */

.item:not([disabled]),
.title,
button:not([disabled]) {
  cursor: pointer !important;
}

.isCollapsed .title {
  cursor: e-resize !important;
}

[class*="drag"] button {
  cursor: grab !important;
}

li[class*="moving"],
li[class*="moving"] * {
  pointer-events: all !important;
  cursor: grabbing !important;
}

/* high-fidelity renders */
[data-slate-editor] {
  background: var(--theme-pageBG);
  color: var(--theme-pageText);
}

.pt-editable * {
  font-family: 'Inter', 'Helvetica Neue', sans-serif !important;
}

.btn {
  display: inline-block;
  position: relative;
  padding: .5rem 1.25rem;
  background: var(--theme-pageBG) !important;
  color: var(--theme-pageText) !important;
  border: 1px solid;
  border-radius: 9999px;
  box-shadow: 0 0 0 5px var(--theme-pageBG);
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 600;
}

.btn * {
  font-weight: 600;
}

.btn.is-primary {
  background: var(--theme-pageText) !important;
  color: var(--theme-pageBG) !important;
  border-color: var(--theme-pageText);
}

.btn.is-white {
  background: white !important;
  color: var(--theme-pageText) !important;
  border-color: white;
}

.btn.is-large {
  padding: .5rem 1.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.btn.is-large * {
  font-weight: 400;
}

.btn.is-block {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.red {
  color: #ff0000 !important;
}

.yellow {
  color: #ffee00 !important;
}

.blue {
  color: #0400ff !important;
}