html {
  &.is-loading,
  &.is-loading * {
    @apply cursor-wait !important;
  }
}

body {
  @apply flex flex-col;
}

.section {
  @apply relative px-4 py-12 sm:p-8 md:py-16 lg:py-20;

  &--content {
    @apply mx-auto;
  }
}