@layer base {

  html,
  body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-pageBG text-pageText font-sans leading-none;
    font-size: 14px;

    @media (--md) {
      font-size: 16px;
    }
  }

  p {
    @apply m-0 text-base leading-normal;
  }

  strong {
    @apply font-semibold;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  /* Headlines */
  h1,
  .is-h1 {
    @apply m-0 text-5xl font-normal leading-tight font-display;
  }

  h2,
  .is-h2 {
    @apply m-0 text-4xl font-normal leading-tight;
  }

  h3,
  .is-h3 {
    @apply m-0 text-3xl font-normal leading-tight;
  }

  h4,
  .is-h4 {
    @apply m-0 text-2xl font-normal leading-snug;
  }

  h5 {
    @apply m-0 text-xl font-normal leading-tight;
  }

  h6 {
    @apply m-0 text-xs font-normal leading-tight;
  }

    /* Custom */
    .shadr {
      @apply m-0 text-xl font-normal leading-tight font-special text-gray;
    }
  
    .insul8 {
      @apply m-0 text-xl font-normal leading-tight font-special text-indigo;
    }
  
    .flame-x {
      @apply m-0 text-xl font-normal leading-tight font-special text-red;
    }
  
    .coolr {
      @apply m-0 text-xl font-normal leading-tight font-special text-blue;
    }
  

  /* Links */
  a {
    @apply no-underline text-current;
  }

  button {
    @apply clean-btn;
  }

  /* Images */
  figure {
    @apply relative m-0;
  }

  /* Misc. */
  hr {
    @apply my-16 mx-0 border-0 h-px bg-pageText;
  }
  
  ::-moz-selection {
    background: var(--pageText);
    color: var(--pageBG);
  }
  ::selection {
    background: var(--pageText);
    color: var(--pageBG);
  }
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* Focus Adjust */
a,
button,
input,
textarea,
select,
details {
  &:focus {
    outline: 1px dashed var(--pageText);
    outline-offset: 2px;

    .is-inverted & {
      outline-color: var(--pageBG);
    }
    
    body:not(.is-tabbing) & {
      outline: none;
    }
  }
}

p {
  &:not(:last-child) {
    @apply mb-6;
  }
}

ul {
  .rc & {
    @apply pl-8 text-base leading-normal;

    &:not(:last-child) {
      @apply mb-6;
    }
    
    li {
      @apply mb-1;
      
      &::before {
        content: "+";
        @apply inline-block relative -ml-4 w-4;
      }
    }
  }
}

h1,
.is-h1 {
  &:not(:last-child) {
    @apply mb-4;
  }

  &.has-btn {
    @apply flex flex-col items-start sm:flex-row sm:items-center;

    .btn {
      @apply mt-4 sm:mt-0 sm:ml-4;
    }
  }

  .hero & {
    font-size: clamp(
      2.25rem,
      calc(1rem + 3.5vw),
      5rem
    )
  }
}

h2,
.is-h2 {
  &:not(:last-child) {
    @apply mb-4;
  }
}

h3,
.is-h3 {
  &:not(:last-child) {
    @apply mb-4;
  }
}

h4,
.is-h4 {
  &:not(:last-child) {
    @apply mb-6;
  }
}

a {
  .rc & {
    &:not(.btn) {
      @apply hover:opacity-40;
      background-image: linear-gradient(var(--pageText), var(--pageText));
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 100% 1px;
    }
  }
}

figure {
  .rc & {
    &:not(:last-child) {
      @apply mb-6;
    }
  }
}

hr {
  &:last-child {
    @apply mb-0;
  }
}
