.footer {
  @apply relative overflow-hidden bg-gray;
  
  &--grid {
    @apply grid sm:grid-cols-2 lg:grid-cols-4 bg-pageText;
  }

  &--block {
    @apply flex flex-col p-8 md:p-8 bg-pageBG text-center lg:text-left;
  }

  .form {
    @apply mt-auto;
  }

  .menu-footer {
    @apply flex flex-col lg:mb-8;

    a {
      @apply inline-block py-2 hover:opacity-40;
    }
  }

  .menu-social {
    @apply inline-flex flex-wrap my-4 mx-auto lg:mt-0 lg:mx-0;

    a {
      @apply block w-8 h-8 hover:opacity-40;

      svg {
        @apply block w-full h-full;
      }
    }
  }

  &--extras {
    @apply mt-auto;
  }

  &--disclaimer {
    p {
      @apply text-sm;
    }
  }
}