.product {
  @apply border-none;

  &--content {
    @apply relative grid md:grid-cols-2 md:gap-px md:bg-pageText;
  }

  &--gallery {
    @apply relative mb-12 md:mb-0 xs:p-8 md:p-24 bg-pageBG md:border-none;

    .carousel {
      @apply max-w-xl mx-auto;
    }
  }

  &--details {
    @apply bg-pageBG flex flex-col;
  }

  &--info {
    @apply w-full max-w-xl m-auto p-4 sm:p-8;
  }

  &--header {
    @apply flex mb-8 pb-2;

    .price {
      @apply flex flex-col items-end mt-auto ml-auto;

      &--current {
        @apply text-xl leading-normal font-semibold;
      }

      &--discount {
        @apply mb-2 p-1 rounded-sm bg-pageText text-pageBG text-xxs leading-tight tracking-widest font-semibold uppercase;
      }
    }
  }

  &--title {
    @apply pr-8 sm:pr-12;
  }

  &--name {
    @apply m-0 text-3xl leading-snug;
  }

  &--variant {
    @apply flex items-center mb-2 text-sm leading-relaxed tracking-wider font-semibold uppercase;

    .label {
      @apply -my-1 transform scale-90;
    }
  }

  &--options {
    @apply mt-12;
  }

  &--actions {
    @apply sm:flex sticky bottom-0 mt-4 p-4 md:p-8 bg-pageBG text-center;

    .counter {
      @apply hidden sm:inline-flex;
    }
  }

  &--waitlist {
    @apply relative w-full;
  }
}

.option {
  @apply flex mt-4 py-4;

  &--title {
    @apply mr-12 text-xs font-semibold uppercase tracking-wider;
  }

  &--values {
    @apply flex flex-wrap justify-end gap-2 gap-y-2 gap-x-2 ml-auto;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }

  &--swatch {
    @apply clean-btn p-0 bg-transparent;
  }
}