/* ----- Mixins ----- */

.is-hashed {
  background-image: repeating-linear-gradient(-45deg, hsla(var(--pageText-hsl), .5) 0, hsla(var(--pageText-hsl), .5) 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
  background-repeat: repeat;
}

/* ----- Buttons -----*/

.btn {
  /* default style button */
  @apply inline-block relative bg-yellow px-5 py-2 text-center rounded-full font-sans uppercase font-bold text-xs;

  /* default: hover */
  &:not(.is-primary):not(.is-white):not(.is-disabled):not(.is-soldout) {
    &.is-active,
    &:hover {
      @apply bg-yellow-light text-pageBG;
    }
  }

  /* default: inverted */
  &.is-inverted {
    @apply bg-pageText text-pageBG;

    &:not(.is-primary):not(.is-white):not(.is-disabled):not(.is-soldout) {
      &.is-active,
      &:hover {
        @apply bg-pageBG text-pageText;
      }
    }
  }

  /* default: disabled */
  &.is-disabled:not(.is-primary),
  &.is-soldout {
    @apply bg-pageBG opacity-20;
  }


  /* primary style button */
  &.is-primary {
    @apply bg-pageText text-pageBG;

    /* primary: inverted */
    &.is-inverted {
      @apply bg-pageBG text-pageText;
    }
  }


  /* white style button */
  &.is-white {
    @apply bg-white text-black;
  }


  /* text-based button */
  &.is-text {
    @apply px-0 bg-transparent border-transparent;

    &.is-disabled,
    &:not(.is-disabled):hover {
      @apply opacity-60;
    }
  }


  /* large sized button */
  &.is-large {
    @apply text-2xl font-normal px-7;
  }
}


/* ----- Counters ----- */

.counter {
  @apply rounded-full p-2 bg-pageBG text-pageText;

  &.is-small {
    @apply p-1;
  }

  &.is-inverted {
    @apply bg-transparent text-pageBG;
  }

  .product--actions & {
    @apply mr-4;
  }

  &--up,
  &--down {
    @apply -my-px w-8 h-8 p-2 rounded-full transition-colors duration-300;

    .cart & {
      @apply my-0;
    }

    &:hover {
      background: hsla(var(--pageText-hsl), .2);

      .is-inverted & {
        background: hsla(var(--pageBG-hsl), .2);
      }
    }
  }

  &--amount {
    @apply text-xs font-mono;

    .cart & {
      @apply w-8;
    }

    input {
      @apply p-1;
    }
  }
}


/* ----- Marquees ----- */

.marquee {

  &--item {
    @apply flex;
  }

  &--text {
    @apply block p-8 text-5xl leading-none;
  }

  &--photo {
    @apply relative w-32 sm:w-48 px-8 py-4 sm:px-12 sm:py-8;

    [data-theme='metal'] & {
      filter: invert(94%) sepia(59%) saturate(2450%) hue-rotate(35deg) brightness(122%) contrast(111%);
    }

    img {
      html:not([data-theme='dark']) & {
        filter: invert(1);
      }
    }
  }

  &--product {
    @apply flex flex-col -my-px;
    margin: -1px 0;
    width: calc(80vw - 2rem);
    max-width: 28rem;

    * {
      @apply whitespace-normal;
    }

    .product-card {
      @apply flex-1;
    }
  }
}